.App {
  text-align: center;
  position: relative;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 30vw;
  height: 100vh;
  background-color: #282c34;
  transition: transform 0.5s;
}
