.App {
  text-align: center;
  position: relative;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.button {
  color: lavender;
  background-color: #282c34;
  min-width: 120px;
  padding: 8px 32px;
  border-radius: 8px;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 30vw;
  height: 100vh;
  background-color: #282c34;
  transition: transform 0.5s;
}

.panel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lavender;
  font-size: 16px;
}
.panel-content {
  margin: 16px;
}

.panel-form {
  width: 60%;
  height: 80px;
  margin-bottom: 8px;
}

.panel-label {
  font-size: 10px;
}

.panel-buttons {
  margin: 16px 0;
}

.panel-validation {
  color: red;
  font-size: 10px;
}
